<% @pageTitle = 'About' %>
<h2>Project Owners</h2>
<ul class="ch-grid">
	<li>
		<div class="ch-item ch-img-nc">
			<div class="ch-info">
				<h3>Nick Carnes</h3>
				<p>Public Policy</p>
			</div>
		</div>
	</li>
	<li>
		<div class="ch-item ch-img-cr">
			<div class="ch-info">
				<h3>Craig Roberts</h3>
				<p>Neuroscience</p>
			</div>
		</div>
	</li>
</ul>

<h2>Development Team</h2>
<ul class="ch-grid">
	<li>
		<div class="ch-item ch-img">
			<div class="ch-info">
				<h3>Howard Chung</h3>
				<p>Tech Lead</p>
			</div>
		</div>
	</li>
	<li>
		<div class="ch-item ch-img">
			<div class="ch-info">
				<h3>Deo Fagnisse</h3>
				<p>Business Analyst</p>
			</div>
		</div>
	</li>
	<li>
		<div class="ch-item ch-img">
			<div class="ch-info">
				<h3>Jimmy Wei</h3>
				<p>Project Manager</p>
			</div>
		</div>
	</li>
	<li>
		<div class="ch-item ch-img">
			<div class="ch-info">
				<h3>Junwei Hu</h3>
				<p>Developer</p>
			</div>
		</div>
	</li>
	<li>
		<div class="ch-item ch-img">
			<div class="ch-info">
				<h3>Tara Gu</h3>
				<p>Project Manager</p>
			</div>
		</div>
	</li>
</ul>