<% @pageTitle = 'Home' %>
<div class =  "jumbotron"><h2 class="welcomeMSG text-center">Welcome to FlowGhost!  <br/> <br/>Start by <%= link_to 'creating a course', new_course_path, {:class=>"btn btn-info btn-lg "} %>.</h2> </div>

