<!--div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title"><center>Create a new course</center></h1>
		<hr>
		<center> 
	</center>
	</div>
</div-->


<%= render 'form'%>
