<h1 align="center"style="color:red">Please Choose the files before click UPLOAD button</h1><br><br>
<center><%= button_to_function "Back", "history.back()", {:class => "btn btn-success btn-lg"} %></center>
